<!DOCTYPE html>
<html>
  <head>
    <title>HTML5 Presentation :: afronski</title>
    <meta charset='utf-8'>
    <script src='../slides.js'></script>
  </head>
  
  <style>
  </style>

  <body style='display: none'>
    <section class='slides layout-regular template-default'>

      <article class="titlePage">
        <h1>&lt;Title&gt;</h1>
        <h4>Wojciech Gawronski (afronski@gmail.com)</h4>
      </article>

      <article>
        <h1 class="centered-text huge-text">?</h1>
        <h2 class="build"><span>Any questions?</span></h2>
      </article>

      <article>
        <h1 class="centered-text big-text">
            Thank you for your attention!
        </h1>
      </article>

    </section>

  </body>
</html>
