node_modules
azure_error
*.log
*.exe
*.o
*.dblite
*.pid
*.ogg
*.pyc
*.swp

# Ignore the whole directory:
/c/learn-c-the-hard-way/*

# Then make the exclusions:
!/c/learn-c-the-hard-way/*.c
!/c/learn-c-the-hard-way/Makefile