h1 {
	text-align: center;
	margin: 45px auto;
	font-variant: small-caps;
}

button {
	width: 200px;
	text-align: center;

	display: block;
	margin: 0 auto;

	font-size: 1.2em;
}

time {
	width: 200px;
	text-align: center;

	display: block;
	margin: 0 auto;

	font-size: 2.5em;
}