html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Segoe UI;
    font-size: 14px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
    display: block;
}

#container
{
    float: left;
    width: 100%;
}

.menu
{
    background-color: #b088ea;
}

.column
{
    float: left;
    width: 20%;
    height: 400px;
    margin: 0 5%;
}

.one
{
    background-color: #bada55;
}

.two
{
    background-color: #0b5e55;
    width: 30%;
}

.three
{
    background-color: #1ee755;
}

.footer
{
    background-color: #bead0b;
    clear: both;
}
